@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme: #2970ff;
  --black:#000;
  --white:#fff;
  --shadow: 0px 0px 30px 8px rgba(156, 154, 154, 0.274);
  
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

code {
  font-family: "Montserrat", sans-serif;
}

.input-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 85%;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 0.5rem;

}
.input-flex input{
  width: 90%;
  padding: 0.5rem;
  border: 0;
}
.input-flex input:focus{
  outline: none;
}
.search-container{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.select-input{
  padding: auto;
  height: 4%;
  width: 5%;
}
.trans-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  padding: 10px;
}
.ant-table-thead{
  background-color: red!important;
}
.box{
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.charts-wrapper{
  
}